
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


body {
 background-color: #111111;
  
}
.boxl {
  
  height: 150px;
  background-color: #050505;
  box-shadow: 3px 3px 4px 1px black;
  border-radius:10px;
}
.name {
  color: #f34133;
  font-family: 'Anton', sans-serif;
  font-size: 110px;
  margin-left: 5px;
  margin-bottom: 10px;
}
img {
  height: 110px;
  margin-left: 15px;
  margin-top: 15px;
}
.categories {
  color: #f34133;
  font-size: 60px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: 5px 5px 3px #050505;
}
.bc img{
  width: 340px;
  height: 220px;
  border-radius: 12px;
}
.categ  {
 
}
.cont1 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.bc {
  opacity: .5;
  transition: .3s;
  padding: 0 4px 4px;
  
  
}
h1 {
  background-color: #050505;
  color: #f34133;
  border-radius: 12px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
 }
  
  

.bc:hover {
  opacity:1;
 
}
.nbox {
  height: 1150px;
  background-color: #050505;
  box-shadow: 6px 6px 8px 2px black;
  border-radius:20px;
}
.nbox img {
  
  
}
p {
  color: #f34133;
  font-family: 'Oswald', sans-serif;
  
  font-size: 37px;
  text-align: center;
  
}
.nbox img:hover {
  opacity: 1;
}
.categoriesu {
  color: #f34133;
  font-size: 60px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: 5px 5px 3px #050505;
}
.news1  img{
  height: 300px;
  border-radius:20px;
  float:left;
  transition:.3s;
  opacity:.8;
}
.news1 {
  height: 333px;
}

.news2  img{
  height: 300px;
  border-radius:20px;
  float:left;
  transition:.3s;
  opacity:.8;
}
.news2 {
  height: 333px;
}

.news3  img{
  height: 300px;
  border-radius:20px;
  float:left;
  transition:.3s;
  opacity:.8;
}
.news3 {
  height: 333px;
}
.uh {
  color: #a12c23;
}
.boxnz {
  background-color: #050505;
  height: 300pxpx;
  width: 1920px;
  border-radius:12px;
}
.y {
  color:#f34133;
  margin-top: px;
  margin-left: 200px;
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  float: left;
}
.sub {
  color:#f34133;
  
  
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  text-align: center;
   margin-left: 250px;
}
